<div class="container">
  <h1>Stupid Coaching</h1>
  <p>Ask anything: </p>
  <form action="/answer" data-turbo="false" class="rounded-0 d-flex">
    <input type="text" name="question" class="rounded-start border border-secondary border-end-0">
    <input type="submit" value= "Ask" class="btn btn-primary" style = border-radius: 0 10px 10px 0;>
  </form>
</div>
